body{

margin:0;
font-family:Arial;
background:#0b0b0b;
color:#fff;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:#000;

}

nav a{

margin-left:20px;
color:#fff;
text-decoration:none;

}

.hero{

text-align:center;
padding:120px 20px;
background:linear-gradient(#000,#111);

}

.btn{

background:#e50914;
color:#fff;
padding:12px 25px;
text-decoration:none;
border-radius:5px;

}

.section{

padding:60px 20px;
text-align:center;

}

.plan{

background:#151515;
padding:30px;
max-width:400px;
margin:auto;
border-radius:10px;

}

.price{

font-size:28px;
color:#0f9;
margin:15px;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
max-width:800px;
margin:auto;

}

.card{

background:#1b1b1b;
padding:30px;
border-radius:8px;

}

.form{

max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;

}

input,select,textarea{

padding:10px;
border:none;
border-radius:5px;

}

button{

background:#e50914;
color:#fff;
border:none;
padding:12px;

}

.floating{

position:fixed;
bottom:20px;
left:20px;

}

#contactBtn{

background:#e50914;
color:#fff;
border:none;
padding:15px;
border-radius:50%;
font-size:20px;

}

.contact-icons{

display:none;
flex-direction:column;
margin-top:10px;

}

.contact-icons a{

background:#222;
color:#fff;
padding:10px;
margin:5px 0;
text-decoration:none;
border-radius:5px;

}